/output

/.vscode

# macOS executable file
/datatypes/output
/Selection/output
/Iteration(loop)/output
/Array/output
/Func_void/output
/Struct/output
/Pointer/output
/MemoryManagement/output

# windows executable file
/build
/datatypes/build
/Selection/build
/Iteration(loop)/build
/Array/build
/Func_void/build
/Struct/build
/Pointer/build

build_and_run.bat


*.exe
*.obj
temp.cpp
.DS_Store
build_and_run.bat